<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit your post:</h1>
    <form action="/articless/<%= @article.id %>" method="post">
    
      <h1> Current name: <%= @article.name %></h1>
      <h1> Current content: <%= @post.content %></h1>
    
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" name="title">
      <input type="text" name="content">
    
    
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
